[package]
name = "volumetric"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["crates/test_model"]

[dependencies]
wasmtime = "27"
anyhow = "1"

# GUI
eframe = { version = "0.29", default-features = false, features = ["default_fonts", "glow"] }

# Utilities
env_logger = "0.11"
log = "0.4"
