[package]
name = "volumetric"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[workspace]
members = [
    "crates/models/simple_sphere_model",
    "crates/models/simple_torus_model",
    "crates/models/rounded_box_model",
    "crates/models/gyroid_lattice_model",
    "crates/models/mandelbulb_model",
    "crates/operators/translate_operator",
    "crates/operators/boolean_operator",
    "crates/operators/rotation_operator",
    "crates/operators/scale_operator",
    "crates/operators/lua_script_operator",
    "crates/volumetric_ui",
]

[dependencies]
wasmtime = "27"
anyhow = "1"
serde = { version="1.0.228", features = ["derive"] }
wasmparser = "0.219"
thiserror = "1.0.69"
ciborium = "0.2"
log = "0.4"
glam = "0.27"
rayon = "1.10"
dashmap = "6"
