[package]
name = "volumetric_ui"
version = "0.1.0"
edition = "2021"

[dependencies]
volumetric = { path = "../../" }
wasmtime = "27"
anyhow = "1"
serde = { version="1.0.228", features = ["derive"] }
wasmparser = "0.219"

# GUI
eframe = { version = "0.29", default-features = false, features = ["default_fonts", "wgpu", "x11", "wayland"] }

# GPU point renderer helpers
bytemuck = { version = "1", features = ["derive"] }
glam = "0.27"

# Direct wgpu dependency
wgpu = { version = "22.1.0", default-features = false, features = ["wgsl"] }

# Utilities
env_logger = "0.11"
log = "0.4"
rfd = "0.14"
thiserror = "1.0.69"
ciborium = "0.2"
rayon = "1.10"
